[Unit]
Description=Set default speaker output

[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/var/home/kingsley/bin/set-default-sink

[Install]
WantedBy=default.target
