@use '../../colors.scss';

window.powermenu,
window.screencapture {
  all: unset;

  .container {
    padding: 3rem;
    background-color: rgba(colors.$base, 0.3);
    border: rgba(colors.$base, 0.5) 3px solid;

    button.item {
      border-bottom: rgba(colors.$base, 0) 3px solid;
      background-color: transparent;
      border-radius: 0;

      &:focus,
      &:hover {
        box-shadow: none;
        border-bottom: colors.$teal 3px solid;
        background-color: rgba(colors.$base, 0.5);
      }

      > box {
        min-height: 250px;

        > box {
          min-width: 150px;
          margin: 1rem;

          > icon {
            font-size: 6em;
          }

          > label {
            font-size: 2em;
            font-weight: 100;
          }
        }
      }
    }
  }
}
