@use '../../colors.scss';

window.bar {
  background: transparent;
  font-weight: 100;
  font-family:
    Roboto Mono,
    Symbols Nerd Font Mono;
  font-size: 18px;

  > centerbox {
    background: transparent;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
  }

  button {
    border-radius: 0px;
    margin: 0 2px;
    background-color: transparent;

    .icon {
      padding: 0 8px;
    }

    &:hover {
      background-color: rgba(colors.$text, 0.2);
    }
  }

  .box {
    margin: 0 2px;

    &.right {
      .icon {
        color: colors.$mantle;
        font-weight: 100;

        &.recording {
          color: colors.$red;
        }
      }

      .label {
        color: colors.$mantle;
        font-weight: 100;
      }

      .button {
        &:hover {
          background-color: rgba(colors.$base, 0.02);
        }
      }
    }
  }
}
