[include]
	path = /home/kingsley/.config/delta/catppuccin.gitconfig

[user]
	email = gzuccare@redhat.com
	name = Gianluca Zuccarelli

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = catppuccin-macchiato
  navigate = true
  side-by-side = true

[checkout]
  defaultRemote = upstream

[init]
	defaultBranch = main
