* {
  border: none;
  border-radius: 0;
  font-family: DroidSansMono Nerd Font, FontAwesome, Roboto, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background: transparent;
  margin: 10px 0px 10px 25px;
}

#workspaces button {
  background: #fff;
  color: #1e1e2e;
  border-radius: 10px;
  margin-right: 10px;
  padding: 4px 10px;
  font-weight: bolder;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: #94e2d5;
  padding: 4px 20px;
  background: rgb(202,158,230);
  background: linear-gradient(90deg, rgba(202,158,230,1) 0%, rgba(94,228,255,1) 100%);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
  color: #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#workspaces button:hover {
  background-color: rgba(202,158,230,1);
  color: #fff;
}

#cpu,
#clock,
#disk,
#tray,
#network,
#battery,
#pulseaudio,
#custom-disk,
#custom-expand,
#custom-screenshot {
  padding: 4px 20px;
  border-radius: 10px;
  /* background-color: #1e1e2e; */
  background-color: #fff;
  color: #516079;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  margin: 10px 10px 10px 0px;
}

#custom-media {
  border-radius: 10px;
  padding: 0px 20px;
  margin: 10px 10px 10px 0px;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #a6e3a1;
  color: #1e1e2e;
}

#netowrk,
#battery,
#disk,
#custom-screenshot,
#custom-expand,
#custom-disk,
#pulseaudio,
#clock {
  font-weight:  bolder;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#clock {
  color: #fff;
  background: rgb(245,194,231);
  background: linear-gradient(45deg, rgba(245,194,231,1) 0%, rgba(203,166,247,1) 64%, rgba(202,158,230,1) 100%);
  margin-right: 25px;
}

#battery {
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #fff;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f9e2af;
    }
}

#custom-screenshot {
  color: #cba6f7;
}

#network {
  color: #f5c2e7;
}

#pulseaudio {
  color: #f2cdcd;
}

#custom-disk {
  color: #94e2d5;
}

#tray {
  margin: 10px 25px 10px 0px;
}

#tray > * {
  padding: 0 2px;
}

/* #custom-power { */
/*   color: #1e1e2e; */
/*   background-color: #f38ba8; */
/*   border-radius: 5px; */
/*   /1* margin-right: 10px; *1/ */
/*   /1* margin-top: 5px; *1/ */
/*   /1* margin-bottom: 5px; *1/ */
/*   /1* margin-left: 0px; *1/ */
/*   padding: 0px 10px; */
/* } */

/* #temperature { */
/*   background-color: #1e1e2e; */
/*   margin: 5px 0; */
/*   padding: 0 10px; */
/*   border-top-left-radius: 5px; */
/*   border-bottom-left-radius: 5px; */
/*   color: #82e4ff; */
/* } */

/* #memory { */
/*   margin-left: 5px; */
/*   background: #1e1e2e; */
/*   /1* margin: 5px 0; *1/ */
/*   padding: 4px 10px; */
/*   margin-left: 3px; */
/*   border-top-left-radius: 5px; */
/*   border-bottom-left-radius: 5px; */
/*   color: #f2cdcd; */
/* } */

/* #cpu { */
/*   /1* margin: 5px 0; *1/ */
/*   padding: 0 10px; */
/*   background-color: #1e1e2e; */
/*   color: #f38ba8; */
/*   border-top-right-radius: 5px; */
/*   border-bottom-right-radius: 5px; */
/*   margin-right: 6px; */
/* } */

/* #custom-date { */
/*   color: #94e2d5; */
/* } */

