[include]
  # we will symlink this either from mac or linux
  # using stow. So that the correct local only configs
  # get pulled in correctly
  path = ~/.gitconfig.local

[core]
  excludesFile = ~/.gitignore_global
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[checkout]
  defaultRemote = upstream

[remote]
  pushDefault = kingsley

[init]
  defaultBranch = main

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
