$theme: 'dark';

//colors
$red: #eb6f92;
$green: #31748f;
$blue: #9ccfd8;
$teal: #9ccfd8;
$purple: #c4a7e7;
$peach: #ebbcba;
$flamingo: #ebbcba;
$pink: #ebbcba;
$yellow: #f6c177;

$base: #24273a;
$mantle: #191724;
$text: #e0def4;
$white: #ffffff;
$surface: #403d52;
